h1 {
    font-weight: bold;
    color: #d91414;
    outline-color: black;
    font-size: 3em;
}

h2 {
    padding-left: 3vw;
    font-size: 5vh;
}

h3 {
    padding-left: 6vw;
    margin: 0px;
    font-size: 4vh;
}

p {
    font-size: 2.5vh;
}

#titleBar {
    width: 100%;
    background-color: rgb(165, 159, 159);
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

body {
    background-color: tan;
    width: calc(100% - 16px);
    margin: 8px;
}

#mainBody {
    background-color: tan;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

#introDiv {
    width: 45%;
}

#introDiv p {
    font-size: 3vh;
    padding-top: 2.5vh;
}

#links {
    width: 45%;
}

@media (max-width : 800px) {
    #mainBody {
        flex-direction: column;
        align-items: center;
    }
    #introDiv {
        width: 90%;
    }


    #links {
        width: 90%;
    }

    h1 {
        font-size: 2em;
    }
}
